@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Pacifico&family=Permanent+Marker&family=Satisfy&family=Tangerine:wght@400;700&family=WindSong:wght@400;500&family=Zilla+Slab+Highlight:wght@400;700&display=swap');

*{
    font-family: "Inter", sans-serif;
}
body{
    background-color: #0a0c1b;
}
.main{
    display: flex;
    position: absolute;
    left: 250px;
    top: 200px;
    background-color: #1b1937;
    width: 1200px;
    height: 445px;
}    
.div1{
    position: relative;
    right: 90px;
}
.insights{
    position: relative;
    color: #592a73;
}
.main2{
    display: flex;
    gap: 13px;
    color: white;
    position: relative;
    left: 90px;
    
}
.grow{
    position: relative;
    bottom: 40px;
    color: white;
    left: 90px;
}
.p-box{
    position: relative;
    color: white;
    left: 3px;
    bottom: 10px;
}
.p-box2{
    display: flex;
    position: absolute;
    top: 270px;
    gap: 80px;
    font-size: 30px;
    color: white;
}
.p-box3{
    display: flex;
    position: absolute;
    top: 320px;
    gap: 60px;
    font-size: 18px;
    color: white;
}
.main-div{
    position: relative;
    left: 100px;
}
img{
    position: relative;
    left: 350px;
    z-index: 2;
}
.backgrounda{
    background-color: #a255cf;
    width: 540px;
    height: 446px;
    z-index: 10;
    position: relative;
    bottom: 450px;
    left: 350px;
    opacity: 0.4;
}
