@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bungee+Spice&family=Dancing+Script:wght@400..700&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Pacifico&family=Permanent+Marker&family=Satisfy&family=Tangerine:wght@400;700&family=WindSong:wght@400;500&family=Young+Serif&family=Zilla+Slab+Highlight:wght@400;700&display=swap');



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #ecf0f3;
  margin: 0;
  padding: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  color: #333;
}

.card h3 {
  margin-top: 0;
}

.card .position {
  font-size: 0.9em;
  color: #999;
}

.card h4 {
  font-size: 1.1em;
  margin: 10px 0;
  color: #222;
}

.card .content {
  font-size: 0.95em;
  color: #555;
}


.purple {
  background-color: #6a3ea1;
  color: #fff;
}

.gray {
  background-color: #48556a;
  color: #fff;
}

.white {
  background-color: #fff;
  color: #333;
}

.dark {
  background-color: #19212e;
  color: #fff;
}
