@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Space+Grotesk:wght@300..700&family=Stack+Sans+Headline:wght@200..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: "Space Grotesk", sans-serif;
}

.purple {
    background: linear-gradient(177deg, rgba(42, 15, 36, 1) 25%, rgba(62, 26, 44, 1) 48%, rgba(34, 30, 69, 1) 82%);
    width: 700px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    position: absolute;


}

.frontcard {
    width: 500px;
    height: 280px;
    background: linear-gradient(101deg, rgba(79, 58, 199, 1) 12%, rgba(135, 77, 172, 1) 71%, rgba(75, 109, 178, 1) 89%);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    justify-content: space-between;
    position: relative;
    left: 250px;
}

.twocircle {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;

}

.bigcircle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}

.smallcircle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid white;
}

.number-name {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;

}

#cardnumber {
    font-weight: 100;
}

.name-date {
    font-size: 22px;
}

.name-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-date div {
    display: flex;
}

.backcard {
    display: flex;
    width: 500px;
    height: 280px;
    background: linear-gradient(118deg, rgba(255, 255, 255, 1) 0%, rgba(224, 225, 229, 1) 63%);
    border-radius: 10px;
    flex-direction: column;
    padding: 30px 0px;
    gap: 20px;
    align-items: center;
    position: relative;
    left: 400px;

}

.blackdiv {
    width: 100%;
    height: 50px;
    background-color: #1b1b1bf8;
}

.cvcdiv {
    width: 80%;
    height: 50px;
    background-color: #acb6c0;
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    padding: 0px 20px;
}

.whitediv {
    width: 85%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
}

#form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 20px;
}

.name-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name-card div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name-card div input {
    width: 400px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid blue;
    padding: 20px;
    font-size: 18px;
    color: blue;
}

.name-card div label {
    color: blue;
}

.date-cvc {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.date {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.date div {
    display: flex;
    gap: 10px;

}

.date label {
    color: blue;
}

.date div input {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    color: blue;
    border: 1px solid blue;
    padding: 20px;
    font-size: 18px;

}

.cvc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cvc label {
    color: blue;
}

.cvc input {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    color: blue;
    border: 1px solid blue;
    padding: 20px;
    font-size: 18px;
}

#button {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #190724;
    color: white;
    cursor: pointer;
}
span{
    color: red;
    display: none;
    
}
.cvcDIV{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1660px) {
    .purple {
        width: 500px;
    }

    .frontcard {
        width: 450px;
        height: 250px;
        left: 150px;
    }

    .backcard {
        width: 450px;
        height: 250px;
        left: 250px;

    }

}

@media (max-width: 1350px) {
    .whitediv {
        width: 98%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: end;
    }
}

@media (max-width: 1170px) {
    body {
        flex-direction: column;
        gap: 300px;
    }

    .purple {
        width: 100%;
        height: auto;
    }

    .frontcard {
        width: 450px;
        height: 250px;
        left: 100px;
        top: 50px;

    }

    .backcard {
        width: 450px;
        height: 250px;
        left: -60px;
        top: 80px;

    }

    .whitediv {
        position: relative;
        top: 500px;
        right: 300px;

        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 750px) {
    .frontcard {
        width: 350px;
        height: 200px;
        left: 100px;
        top: 50px;

    }

    .backcard {
        width: 350px;
        height: 200px;
        left: -60px;
        top: 80px;

    }

    .bigcircle {
        width: 30px;
        height: 30px;
    }

    .smallcircle {
        width: 20px;
        height: 20px;
    }

    #cardnumber {
        font-size: 26px;
    }

    .whitediv {
        top: 350px;
        right: 150px;
    }
}

@media (max-width: 600px) {

    .frontcard {
        width: 350px;
        height: 200px;
        left: 0px;
        top: 50px;

    }

    .backcard {
        width: 350px;
        height: 200px;
        left: 0px;
        top: 50px;

    }

    .whitediv {
        top: 380px;
        right: 30px;
    }

    .name-card div input {
        width: 300px;
        height: 45px;
        font-size: 16px;
    }


    .date-cvc {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .date div input {
        width: 50px;
        height: 40px;
        border-radius: 10px;
        color: blue;
        border: 1px solid blue;
        padding: 0px;
        font-size: 12px;
        padding: 0px 5px;

    }

    .cvc input {
        width: 150px;
        height: 40px;
        border-radius: 10px;
        color: blue;
        border: 1px solid blue;
        padding: 20px;
        font-size: 18px;
    }

    #button {
        width: 300px;
        height: 50px;

    }

}