body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 60px);
  grid-template-rows: repeat(5, 60px);
  gap: 5px;
  background-color: white;
  border: 2px solid black;
  padding: 10px;
}

.item {
  background-color: red;
  border-radius: 4px;
}

.top-block {
  grid-column-start: 3;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: span 2;
}

.bottom-block {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 4;
  grid-row-end: span 2;
}