*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}
.main{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px;
    border: 2px solid black;
    gap: 5px;
}
.box{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: green;
}