*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}
.main{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px;
    border: 2px solid black;
    gap: 5px;
}
.div1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: yellow;
}
.div2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 6;
    grid-column-end: 8;
    background-color: red;
}
.div3{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: blue;
}
.div4{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: blue;
}
.div5{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: yellowgreen;
}
.div6{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #ffaec9
}
.div7{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 7;
    background-color: red;
}
.div8{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 7;
    background-color: #99d9ea;
}