@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

#navbar {
    display: none;
    background-color: white;
    border: solid white;
    color: white;
}

header {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;

}

header nav ul li a {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

header nav ul {
    display: flex;
    list-style-type: none;
    gap: 33px;
    justify-content: center;
    align-items: center;
}


.header-div1 {
    display: flex;
    min-width: 630px;
    width: 50%;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

.img-box {
    display: flex;
    align-items: center;
    gap: 15px;

}

.point {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #0033ff;
    position: relative;
    top: 10px;
    z-index: 2313123;
    animation-name: shadow;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.thaiby {
    display: flex;

}

@keyframes shadow {
    0% {
        background-color: #0033ff;
    }

    25% {
        background-color: red;
    }

    50% {
        background-color: cyan;
    }

    75% {
        background-color: chartreuse;
    }

    100% {
        background-color: fuchsia;
    }
}

/* main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.section1 {
    /* width: 100%; */
    /* height: 700px; */
    background-color: #f0efeb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    flex-wrap: wrap;
}

.section1 div h1 {
    font-size: 60px;
}

.section1 div p {
    font-size: 24px;
    width: 500px;
}

.section1 div button {
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 60px;
    border: none;
    padding: 7px 30px;
}

.section1 div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: start;
    align-items: start;


}

.section1 img {
    /* width: 50%; */
    max-width: 600px;
}

.section2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px
}

.section2-div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.section2-div1 h1 {
    font-size: 36px;
    text-align: center;
}


.section2-div1 p {
    font-size: 20px;
    text-align: center;
    max-width: 632px;
}

.Our-best-sellers {
    font-size: 36px;
    position: relative;
    top: 100px;

}

.history1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.history-div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;

}

.Add {
    text-decoration: underline solid #7f7f7f 2px;
}

.section2-div2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 65px;
    margin-top: 180px;
}

.h-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.USD {
    font-size: 17px;
}

.history2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.history3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.history-img {
    width: 90%;
}

.section3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 124px;
}

.section3-div1 {
    display: flex;
    background-color: #f0f0f0;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 55px;
    padding: 80px;
}

.section3-div2 {
    display: flex;
    background-color: #e0e0e0;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 55px;
    padding: 80px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: right;
}

.info2 h1 {
    font-size: 36px;
}

.info2 p {
    font-size: 36px;
    width: 532px;
}

.info2 h3 {
    font-size: 17px;
    text-decoration: underline 2px solid #787878;
}

.info h1 {
    font-size: 36px;
}

.info p {
    font-size: 36px;
    width: 532px;
}

.info h3 {
    font-size: 17px;
    text-decoration: underline 2px solid #787878;
}

.section4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.section4-Title {
    display: flex;
    justify-self: center;
    margin-top: 200px;
    font-size: 36px;
    width: 430px;
}

.section4-div1 {
    display: flex;
    flex-wrap: wrap;
    width: 788px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    gap: 100px;
}

.colors-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.Circle1 {
    background-color: #21f7ec;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.Circle2 {
    background-color: #33d3bc;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.Circle3 {
    background-color: #18a5c6;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.Circle4 {
    background-color: #d38f62;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.Circle5 {
    background-color: #f94c43;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.Circle6 {
    background-color: #d399ff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


@media (max-width: 1200px) {
    header {
        padding: 0px 20px;

    }

    .section1 div h1 {
        font-size: 40px;
    }

    .section1 div p {
        font-size: 20px;
        width: 400px;
    }

    .section1 img {
        /* width: 50%; */
        max-width: 500px;
    }

    .info2 h1 {
        font-size: 180%;
    }

    .info2 p {
        font-size: 180%;
        width: 432px;
    }

    .info2 h3 {
        font-size: 17px;
        text-decoration: underline 2px solid #787878;
    }

    .info h1 {
        font-size: 180%;
    }

    .info p {
        font-size: 180%;
        width: 432px;
    }

    .info h3 {
        font-size: 17px;
        text-decoration: underline 2px solid #787878;
    }

    .section3-img {
        width: 35%;
    }
}

@media (max-width: 850px) {
    nav {
        display: none;

    }

    .header-div1 {
        min-width: 100px;
    }

    .section2-div2 {
        flex-wrap: wrap;

    }

    .section3-div1 {
        display: flex;
        flex-direction: column;

    }

    .section3-div2 {
        display: flex;
        flex-direction: column;

    }

    .section3-img {
        width: 385px;
    }

    .section4-div1 {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: center;
        text-align: center;
        width: 400px;
        height: 1100px;
        gap: 40px;

    }

    .section4-Title {
        display: flex;
        justify-self: center;
        margin-top: 200px;
        font-size: 30px;
        width: 400px;
    }
}

@media (max-width: 550px) {

    .section1 {
        width: 100%;
        padding: 30px 20px;
    }

    .section1 img {
        width: 100%;
    }

    .section1 div {
        width: 100%;
    }

    .section1 div h1 {
        font-size: 30px;
        width: 100%;
    }

    .section1 div p {
        font-size: 18px;
        width: 100%;
    }

    .section2-div1 h1 {
        font-size: 30px;
        text-align: left;
    }


    .section2-div1 p {
        font-size: 18px;
        text-align: left;
    }

    .section3-img {
        width: 300px;
    }

    .info2 h1 {
        font-size: 25px;
    }

    .info2 p {
        font-size: 25px;
        width: 232px;
    }

    .info2 h3 {
        font-size: 15px;
        text-decoration: underline 2px solid #787878;
    }

    .info h1 {
        font-size: 25px;
    }

    .info p {
        font-size: 25px;
        width: 232px;
    }

    .info h3 {
        font-size: 15px;
        text-decoration: underline 2px solid #787878;
    }

    .section4-div1 {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 80px;

    }

    .section4-Title {
        display: flex;
        justify-self: center;
        font-size: 22px;
        width: 80%;
    }
    .a{
        width: 70px;
        height: 70px;
    }
    .b{
        font-size: 20px;
        
    }
}