@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dancing+Script:wght@400..700&family=Lexend+Deca:wght@100..900&family=Pacifico&family=Permanent+Marker&family=Satisfy&family=Tangerine:wght@400;700&family=WindSong:wght@400;500&family=Zilla+Slab+Highlight:wght@400;700&display=swap');


*{
    font-family: "Lexend Deca", sans-serif;
    margin: 0px;
    padding: 0px;
}

.main{
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
    top: 200px;
    left: 500px;

}
.div1{
    background-color: hsl(30, 77%, 52%);
    width: 350px;
    height: 550px;
    border-radius: 10px 0px 0px 10px;
}
.box{
    display: flex;
    flex-direction: column;
    top: 70px;
    gap: 80px;
    color: white;
    align-items: center;
}
.img1{
    width: 70px;
    position: relative;
    top: 40px;
    right: 80px;
}
.Sedans{
    width: 70px;
    position: relative;
    top: 40px;
    right: 80px;
}
.box2{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;
}
.p1{
    position: relative;
    right: 30px;
}
.p2{
    position: relative;
    right: 13px;
}
.p3{
    position: relative;
    right: 25px;
}
.p4{
    position: relative;
    right: 21px;
}
.p5{
    position: relative;
    right: 38px;
}

.button1{
    border-radius: 20px;
    background-color: white;
    width: 160px;
    height: 40px;
    position: relative;
    top: 20px;
    right: 40px;
    color: #e38525;
    border: none;
    cursor: pointer;
}



.div2{
    background-color: #016871;
    width: 350px;
    height: 550px;
}
.div2-box1{
    display: flex;
    flex-direction: column;
    top: 70px;
    gap: 80px;
    color: white;
    align-items: center;
}
.img2{
    width: 70px;
    position: relative;
    top: 40px;
    right: 80px;
}
.SUVs{
    width: 70px;
    position: relative;
    top: 40px;
    right: 80px;
}
.div2-Pbox1{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;
}
.p6{
    position: relative;
    right: 0px;
}
.p7{
    position: relative;
    right: 32px;
}
.p8{
    position: relative;
    right: 4px;
}
.p9{
    position: relative;
    right: 9px;
}
.p10{
    position: relative;
    right: 26px;
}

.button2{
    border-radius: 20px;
    background-color: white;
    width: 160px;
    height: 40px;
    position: relative;
    top: 20px;
    right: 40px;
    color: #016871;
    border: none;
    cursor: pointer;
}


.div3{
    background-color: #003f3e;
    width: 350px;
    height: 550px;
    border-radius: 0px 10px 10px 0px;
}
.div3-box1{
    display: flex;
    flex-direction: column;
    top: 70px;
    gap: 80px;
    color: white;
    align-items: center;
}
.img3{
    width: 70px;
    position: relative;
    top: 40px;
    right: 80px;
}
.Luxury{
    width: 70px;
    position: relative;
    top: 40px;
    right: 80px;
}
.div3-Pbox1{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;
}
.p11{
    position: relative;
    right: 5px;
}
.p12{
    position: relative;
    right: 11px;
}
.p13{
    position: relative;
    right: 4px;
}
.p14{
    position: relative;
    right: 4px;
}
.p15{
    position: relative;
    right: 82px;
}

.button3{
    border-radius: 20px;
    background-color: white;
    width: 160px;
    height: 40px;
    position: relative;
    top: 20px;
    right: 40px;
    color: #003f3e;
    border: none;
    cursor: pointer;
}