@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Space+Grotesk:wght@300..700&family=Stack+Sans+Headline:wght@200..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: "Red Hat Text", sans-serif;
    color: hsl(7, 20%, 60%);
    padding: 100px 100px;
    gap: 10px;
}

.main {
    display: flex;
    flex-wrap: wrap;

}

.leftDIV {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftDIV h1 {
    color: hsl(14, 65%, 9%);
}

.main {
    display: flex;
    gap: 30px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.foodIMG {
    width: 330px;
    border-radius: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.info p {
    color: hsl(12, 20%, 44%);
}

.info h2 {
    color: hsl(14, 65%, 9%);
    font-size: 21px;
}

.info h3 {
    color: hsl(14, 86%, 42%);
    font-size: 21px;
}

.box button {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    border: 1px solid hsl(14, 86%, 42%);
    cursor: pointer;
    margin-top: -40px;
    margin-left: 70px;
    gap: 10px;

}

.quantity {
    background-color: hsl(14, 86%, 42%);
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px;
    margin-top: -40px;
    margin-left: 70px;
    padding: 0px 20px;
    cursor: pointer;
    color: white;
    display: none;

}

.plus {
    border-radius: 50%;
    border: 1px solid white;
    width: 20px;
    height: 20px;
    padding: 4px;
    cursor: pointer;
}

.quantit p {
    color: white;
}

.rightDIV {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.rightDIV h1 {
    color: hsl(14, 86%, 42%);
}

.rightDIV div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rightDIV div img {
    width: 150px;
}

#addeditems {
    display: none;
}

#Purchased{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.CaretFoodName{
    color: hsl(14, 65%, 9%);
    font-weight: 900;
}
.NumberofFood{
    color: hsl(14, 86%, 42%);
}
.Caretdiv1{
    display: flex;
    
}
.Caretdiv2{
    display: flex;
    
}


@media (max-width: 900px) {
    body {
        flex-direction: column;
        gap: 60px;

    }

    .leftDIV {
        align-items: center;
        justify-content: center;
    }

    .main {
        align-items: center;
        justify-content: center;
    }

    .rightDIV {
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 550px) {
    body {
        padding: 20px;
    }


    .rightDIV {
        width: 330px;
        display: flex;
        flex-direction: column;
        gap: 40px;

    }
}