@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow-x: hidden;

}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 137px;
}

nav ul {
    display: flex;
    gap: 50px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
}

header div {
    display: flex;
    gap: 20px;
}

.header-button1 {
    border: none;
    background-color: white;
    color: #494949;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
}

.header-button2 {
    width: 108px;
    height: 48px;
    color: #003478;
    border: 1px solid #003478;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
}

.menu {
    display: none;
}

.section1 {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: start;
    height: 100vh;
    position: relative;

}

.section1-div1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    font-family: "Orbitron", sans-serif;
    padding-left: 139px;
    gap: 100px;
    bottom: 190px;
}

.section1-div1 h1 {
    font-size: 72px;
    font-weight: 300;
    max-width: 700px;
    color: rgb(7, 80, 159);
    text-transform: uppercase;

}

.section1-div1 h1 span {
    color: rgb(251, 170, 12);
    font-weight: 700;
}

.section1-div1 p {
    font-size: 50px;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
}

.section1-div1 p span {
    font-size: 25px;
}

.buuton-div {
    display: flex;
    font-family: "Orbitron", sans-serif;
    gap: 0px;
    margin-top: 40px;
}

.section1-button1 {
    width: 200px;
    height: 70px;
    font-size: 18px;
    font-weight: 500;
    background-color: #003478;
    color: white;
    border: none;
}

.section1-button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 195px;
    height: 70px;
    border: none;
    background-color: white;
}

.section1-button2 div {
    border-radius: 50%;
    background-color: #003478;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.two-line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 21px;
    flex-direction: column;
    position: absolute;
    top: 50%;
}

.two-line {
    top: 50%;
}

.line {
    background-color: #303231;
    width: 100%;
    height: 60px;
}

.line2 {
    height: 64px;
}

.car {
    position: absolute;
    top: 16.9%;
    right: -610px;
}


@media (max-width: 1440px) {
    .section1-div1 {
        gap: 200px;
        bottom: 130px;

    }

    .car {
        width: 1200px;
    }

    .two-line {
        top: 46%;
        gap: 18.8px;
    }

    .line {
        height: 53px;
    }

    .line2 {
        height: 56px;
    }
}

@media (max-width: 1170px) {
    header {
        padding: 36px 50px;
    }
}

@media (max-width: 1000px) {
    .menu {
        display: block;
        width: 40px;
    }

    nav,
    header div {
        display: none;
    }

    .section1-div1 {
        padding-left: 50px;
    }

    .buuton-div {
        margin-top: 80px;
    }

    .car {
        width: 1000px;
        right: -500px;
        top: 21.6%;
    }

    .two-line {
        top: 46%;
        gap: 13px;
    }

    .line {
        height: 45px;
    }

    .line2 {
        height: 47px;
    }

    .section1-div1 {
        top: 76px;
    }

    .section1-div1 h1 {
        font-size: 60px;
    }

    .section1-div1 p {
        font-size: 27px;
    }

}

@media (max-width: 630px) {
    .car {
        width: 700px;
        right: -350px;
        top: 16%;

    }

    .two-line {
        top: 33%;
        gap: 10px;
    }

    .line {
        height: 32px;
    }

    .line2 {
        height: 32.7px;
    }

    .section1-div1 {
        gap: 127px;
    }

    .section1-div1 h1 {
        font-size: 40px;
    }


    .section1-div1 p {
        font-size: 22px;
    }

    .section1-div1 p span {
        font-size: 18px;
    }

    .buuton-div {
        align-items: center;
        gap: 15px;
    }

    .section1-button1 {
        width: 130px;
        font-size: 16px;
        height: 50px;
    }

    .section1-button2 {
        width: 140px;
        gap: 10px;
    }
}

@media (max-width: 490px) {
    header{
        padding: 36px 30px;
    }
    .car {
        width: 600px;
        right: -280px;
        top: 19%;
    }

    .two-line {
        top: 33.5%;
        gap: 8px;
    }

    .line {
        height: 28px;
    }

    .line2 {
        height: 29px;
    }
    .section1-div1{
        top: 110px;
        padding-left: 30px;
    }

    .section1-div1 h1 {
        font-size: 30px;
    }


    .section1-div1 p {
        font-size: 18px;
        display: flex;
        flex-direction: column;
        gap: 17px;

    }

    .section1-div1 p span {
        font-size: 13px;
    }
}